*{
    margin:0px;
}
nav{
    background-color:rgb(204, 200, 200);
    width:100%;
    height:30px;
}
ul li{
    list-style: none;
    float:left;
}
.wel{
    padding:5px 80% 0px 50px;
}
.but{
    padding-top:5px;
    padding-left:50px;
}
.div1{
    padding:0px;
    text-align:center;
    background-color: rgb(150, 150, 177);
    width:100%;
    height:300px;
    padding-top:80px;
    padding-bottom:0px;
    color:white;
    
}
.buttom{
    background-color:rgb(114, 114, 235);
}
.div2{
    background-color: rgb(242, 242, 247);
    width:100%;
    height:200px;
    text-align:center;
}
.div21{
  float: left;
  padding:80px 50px 0px 300px; 

}
.div22{
    float: left;
    padding:80px 80px 0px 80px; 
}
.div23{
    padding:80px 200px 0px 80px;
}
.div3{
    height:300px;
    margin:0px;
}
.div31{
 float: left;
 padding:100px 0px 100px 100px;
}
.div32{
 width:50%;
 height:300px;
 padding:0px 0px 0px 675px;
 
}
.div4{
 height:300px;
  margin:0px;
}
.div41{
    float: left;
    width:50%;
}
.div42{
    padding:100px 10px 100px 100px;
    margin:0px 0px 0px 660px;
}
.div5{
    clear: both;
    height:300px;
    margin:0px;
}
.div51{
    float: left;
    padding:100px 10px 100px 100px;

}
.div52{
    padding:0px 0px 2px 670px;
    width:50%;
 
}
.div6{
    background-color:rgb(238, 232, 232);
    height:400px;
    text-align:center;
    padding:50px 0px 0px 0px;
     margin:0px;
}
.div61{
    float: left;
    padding:10px 50px 10px 200px;   
}
.div62{
float: left;
padding:10px 50px 10px 50px;

}
.div7{
    background-color:rgb(155, 148, 148);
    padding:0px;
    text-align:center;    
    width:100%;
    height:300px;
    padding-top:50px;
    padding-bottom:0px;
    color:white;
    margin:0px;
}
footer{
    background-color:rgb(245, 230, 230);
    height:80px;
    margin:0px;
}
footer ul li{
    padding:15px 20px 10px 30px;

}

footer ul li a{
    text-decoration:none;
}
.social{
    padding-left:1000px;
}
