body{
    font-family: 'Times New Roman', Helvetica, sans-serif, serif;
    font-size:20px;
    font-weight:bold;
    text-decoration: magenta;
}
p{
    text-indent:100px;
    text-transform: capitalize;
}




h1,h2{
color:red;
text-align:left;
}
ul li{
    list-style-type: lower-alpha;
    color:red;
}
ol>li{
    color:darkgoldenrod
}
div{
    background-color: yellow;
    width:300px;
    border:solid red 2px;
    margin:100px 200px 300px 100px;
    padding: 20px 10px 50px 10px;
}
div+p{
    background: red;
}

a{  background-color:red;
    color:red;
}
a:link{
    color: blue;
}
a:visited{
    background-color:magenta;
     color: yellow;
}
a:hover{
    color:pink
}
