.history{
    float: left;
    margin-right:100px;
    margin-left:100px;
}
.row1{
    float: left;
    border:solid blue 2px;
}
.row2{
    float:left;
    border:solid red 2px;
}
.col2{
    border:solid green 2px;
    width:1000px;
    height: 100px;
}
    
    
